body {
    background-color: lightsteelblue;
}

.header{
    border: 3px solid red;
    position: static;
    margin: inherit;
}

.work{
    float: left;
    margin: inherit;
}

.tagline{
    float: left;
    margin: 0px 10px;
}

.skills{
    float: left;
    border: 3px solid red;
    margin: 0px 4px;
    padding: 2px 7px;
}

.contact{
    float: left;
    border: 3px solid blueviolet;
    margin: 0px 4px;
    padding: 2px 7px 56px;
}

.skills h3{
    text-decoration: underline;
}